<html>
    <head>
        {%  include ga.html %}
        <title>Anchor Aid</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
        {% block css %}
        {% endblock %}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        {% block js %}
        {% endblock %}
    </head>
    {% block nav %}
        <nav class="navbar fixed-top navbar-dark" style="background-color: #00237e;">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Anchor Aid <i class="fas fa-anchor"></i> / <i class="fas fa-band-aid"></i></a>
            </div>

            <div align="center">
              {% if search %}
                  <h5><a href="{{ site }}">{{ site|truncate(75) }}</a> - '{{ search|truncate(50) }}'</h5>
              {%  endif %}
              <br>
              {% block clippable_url %}
              {% endblock %}
            </div>

            <ul class="nav navbar-nav">
              <li class="nav-item"><a href="/">Home</a></li>
              <li class="nav-item"><a href="https://github.com/scottx611x/anchor-aid">Github <i class="fab fa-github"></i></a></li>
              <li class="nav-item"><a href="https://github.com/scottx611x/anchor-aid/issues/new">Have An Issue?</a></li>
            </ul>
          </div>
        </nav>
    {% endblock %}
    <body>
       {% block content %}
           <div class="container">
                <br><br><br><br>
                <div class="row">
                    <div class="scrollable col-md-8">
                        {{ readme }}
                    </div>
                    <div class="col-md-1">
                        <div class="vl"></div>
                    </div>
                    <div class="col-md-3">
                        <br><br><br><br><br>
                        <h3>Try It Out...</h3>
                        <form method="post" action="./create">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" name="site" class="form-control" placeholder="URL to valid web page" value="" />
                                </div>
                                <div class="form-group">
                                    <textarea name="search" class="form-control" placeholder="Text to search for and select when above URL is rendered" style="width: 100%; height: 300px;"></textarea>
                                </div>
                                <div class="form-group">
                                    <input type="submit" name="submit" class="btn btn-primary" value="Submit" style="width: 150px;"/>
                                </div>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
       {% endblock %}
    </body>
    <footer class="page-footer" style="background-color: #00237e;">
      <div>
        &copy; 2018
        <script>
            new Date().getFullYear() > 2018 && document.write("-" + new Date().getFullYear());
        </script>
        - <a href="https://www.scott-ouellette.com">Scott Ouellette</a>
        </div>
    </footer>
</html>
